.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

body,
html {
    background: white;
}

/* hero section */

.hero-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    position: relative;
}

/* about section*/
.main-about-cont {
    border: red solid 2px;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.left-img-about {
    width: 25vw;
    height: 80vh;
    object-fit: cover;
}

.right-img-about {
    width: 25vw;
    height: 80vh;
    object-fit: cover;
    margin-left: 2rem;
}

.about-txt {
    border: blue 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
}

/* music section */

/* venue section */

/* footer section */
.footer-sect {
    background-color: black;
    color: white;
}